.card.p-3
  .card-body
    header
      .row
        .col-md-6
          h2.text-default All Events
        .col-md-6
          a.text-primary.pull-right.btn.btn-sm.btn-simple(href='/admin/events') Expanded View
    hr.line-primary
    .table-responsive
      table#eventsDataTable.table.table-hover.table-striped.dataTable.dtr-inline(style='width: 100%')
        thead.text-primary
          tr
            th.text-center
              | Image
            th
              | Title
            th.text-center
              | Venue
            th.text-center
              | Date
            th.text-center
              | Time
            th.text-center
              | Duration
            th.text-right
              | Action
        tbody
          each event in allEvents
            tr.text-primary
              td.text-center
                .photo
                  img(src=`/img/events/${event.coverImg}` alt=`${event.title}`)
              td.text-center
                a(href=`/event/${event._id}`)= event.title                      
              td.text-center= event.venue
              td.text-center= event.eventDate
              td.text-center= event.eventTime
              td.text-center= event.duration
              td.text-right
                a.mr-2(href=`/events/${event._id}` rel='tooltip' data-original-title='View event')
                  i.fas.fa-eye
                form.form(method='POST' action=`/events/${event._id}?_method=DELETE`)
                  button.btn.btn-link.btn-plain.btn-sm.btn-icon(type='submit' rel='tooltip' data-original-title='Delete event')
                    i.fas.fa-trash