.card
  .card-body
    h3.profile-title.text-left All Events
    .table-responsive
      table#eventsDataTable.table.table-hover.table-striped.dataTable.dtr-inline
        thead.text-primary
          tr
            th.text-center
              | Image
            th
              | Title
            th.text-center
              | Venue
            th.text-center
              | Date
            th.text-center
              | Time
            th.text-center
              | Duration
            th.text-right
              | Action
        tbody
          each event in events
            tr.text-primary
              td.text-center
                .photo
                  img(src=`/img/events/${event.coverImg}` alt=`${event.title}`)
              td.text-center
                a(href=`/event/${event._id}`)= event.title                      
              td.text-center= event.venue
              td.text-center= event.eventDate
              td.text-center= event.eventTime
              td.text-center= event.duration
              td.text-right
                a(href=`/event/${event._id}`).btn.btn-link.btn-sm.mr-2(type='button' rel='tooltip' data-original-title='View event')
                  i.fas.fa-eye
                form.form(method='POST' action=`/events/${event._id}?_method=DELETE`)
                  button.btn.btn-link.btn-plain.btn-sm.btn-icon(type='submit' rel='tooltip' data-original-title='Delete event')
                    i.fas.fa-trash
