.card
  .card-body
    h3.profile-title.text-left All Users
    .table-responsive
      table#usersDataTable.table.table-hover.table-striped.dataTable.dtr-inline
        thead.text-primary
          tr
            //- th.text-center
            //-   | #
            th.text-center
              | Name
            th
              | Image
            th.text-center
              | Company
            th.text-center
              | Email
            th.text-center
              | Telephone
            th.text-center
              | Role
            th.text-right
              | Action
        tbody
          each user in allUsers
            tr.text-primary
              //- td.text-center= user._id
              td.text-center
                a(href='')= user.name
              td.text-center
                .photo
                  img(src=`/img/users/${user.avatar}` alt=`${user.name}`)
              td.text-center= user.company
              td.text-center= user.email
              td.text-center= user.phone
              if user.isAdmin
                td.text-center Admin
              else
                td.text-center User
              td.text-right
                a(href=`/users/${user._id}`)
                  i.fas.fa-eye
                button.btn.btn-link.btn-sm(type='button' rel='tooltip' data-original-title='Delete user' onclick='deleteUser(this)')
                  i.fas.fa-trash
