.card.p-3
  .card-body
    header
      .row
        .col-md-6
          h2.text-default All Users
        .col-md-6
          a.text-primary.pull-right.btn.btn-sm.btn-simple(href='/admin/users') Expanded View              
    hr.line-primary
    .table-responsive
      table#usersDataTable.table.table-hover.table-striped.dataTable.dtr-inline(style='width: 100%')
        thead.text-primary
          tr
            //- th.text-center
            //-   | #
            th.text-center
              | Name
            th
              | Image
            th.text-center
              | Company
            th.text-center
              | Email
            th.text-center
              | Telephone
            th.text-center
              | Role
            th.text-right
              | Action
        tbody
          each user in allUsers
            tr.text-primary
              //- td.text-center= user._id
              td.text-center
                a(href='javascript:;')= user.name
              td.text-center
                .photo
                  img(src=`/img/users/${user.avatar}` alt=`${user.name}`)
              td.text-center= user.company
              td.text-center= user.email
              td.text-center= user.phone
              if user.isAdmin
                td.text-center Admin
              else
                td.text-center User
              td.text-right
                a(href=`/admin/users/${user._id}` rel='tooltip' data-original-title='view user')
                  i.fas.fa-eye
                form.form(method='POST' action=`/admin/users/${user._id}?_method=DELETE`)
                  button.btn.btn-link.btn-plain.btn-sm.btn-icon(type='submit' rel='tooltip' data-original-title='Delete user')
                    i.fas.fa-trash