extend base
block content
  .section
    .container
      .row.align-items-center.py-4
        .col-lg-6.col-7
          nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
              li.breadcrumb-item
                a(href='/')
                  i.fas.fa-home
              li.breadcrumb-item
                a(href='/users/me') My Events
              li.breadcrumb-item.active(aria-current='page') Event
        .col-lg-6.col-5.text-right
          a.btn.btn-sm.btn-primary(href=`/events/${event._id}/new-guest`) Add Guest
          a.btn.btn-sm.btn-primary(href=`/events/${event._id}/update-event`) Edit Event
      .row
        .col-md-3.col-sm-12
          .card.card-pricing.card-event.mt-0
            .card-header
              .card-image.no-mask
                a(href='javascript:;')
                  img(src=`/img/events/${event.coverImg}`, alt=`${event.name}`)
            .card-body
              h6 Title
              h4= event.title
              ul
                li
                  h6 Venue
                  h4= event.venue
                  event.venue
                li
                  h6 Date
                  h4= event.eventDate
                li
                  h6 Time
                  h4= event.eventTime
                li
                  h6 Total Guests
                    if guests.length >= 0
                      h4= `${guests.length} guests`
                    else 
                      h4 
                        | 0 guests                
                li
                  h6 Checked In Guests 
                  if guests.isArrived === 'ARRIVED'
                    h4= `${guests.isArrived} checked In`
                  else
                    h4 0 checked In
        .col-md-9.col-sm-12
          .card.mt-0
            .card-header.border-bottom.pb--1
              .row
                .col-lg-6
                  form#search_guests.form-inline.mr-sm-3
                    .form-group.mb-0
                      .input-group.input-group-alternative.input-group-merge
                        .input-group-prepend
                          span.input-group-text
                            i.fas.fa-search
                        input.form-control(placeholder='Search guests...', type='text')
                .col-lg-6
                  | Other filters
            .card-body
              .table-responsive
                table.table.table-hover.table-striped
                  thead.text-primary
                    tr
                      th.text-center
                        | Availability
                      th.text-center
                        | Name
                      th.text-center
                        | Email
                      th.text-center
                        | Phone
                      th.text-center
                        | Company
                      th.text-center
                        | Status
                      th.text-center
                        i.fas.fa-cog
                  tbody
                    each guest in guests
                      tr.text-primary
                        if guest.isArrived === 'ARRIVED'
                          td.text-center
                            .bootstrap-tagsinput
                              span.tag.badge.badge-danger
                                | ARRIVED
                                span(data-role='remove')  
                        else
                          td.text-center
                            .bootstrap-tagsinput
                              span.tag.badge.badge-default
                                | ABSENT
                                span(data-role='remove')                  
                        td.text-center
                          a(href=`/events/${event._id}/guest/${guest._id}`)= guest.name
                        td.text-center= guest.email
                        td.text-center= guest.phone
                        td.text-center= guest.company
                        if guest.isVip
                          td.text-center VIP
                        else
                          td.text-center Guest
                        td.text-right
                          a.mr-2(href=`/events/${event._id}/guest/${guest._id}`)
                            i.fas.fa-eye
                          form.form(method='POST' action=`/events/${event._id}/guest/${guest._id}?_method=DELETE`)
                            button.btn.btn-link.btn-plain.btn-sm.btn-icon(type='submit' rel='tooltip' data-original-title='Delete event')
                              i.fas.fa-trash
                        


