extend base
block content
  .section
    .container
      .row
        .col-lg-12
          h2.title All users
      .row.align-items-center
        .col-lg-12.mx-auto
          .card-body
            .table-responsive
              table.table.table-hover.table-striped
                thead.text-primary
                  tr
                    th.text-center
                      | #
                    th.text-center
                      | Name
                    th
                      | Image
                    th.text-center
                      | Company
                    th.text-center
                      | Email
                    th.text-center
                      | Telephone
                    th.text-center
                      | Role
                    th.text-right
                      | Action
                tbody
                  each user in users
                    tr.text-primary
                      td.text-center= user._id
                      td.text-center
                        a(href='')= user.name
                      td.text-center
                        .photo
                          img(src="/img/tania.jpg" alt=`${user.name}`)
                      td.text-center= user.company
                      td.text-center= user.email
                      td.text-center= user.phone
                      if user.isAmin
                        td.text-center Admin
                      else
                        td.text-center User
                      td.text-right
                        a(href=`users/${user._id}`)
                          i.fas.fa-eye
                        button.btn.btn-link.btn-sm(type='button' rel='tooltip' data-original-title='Delete user')
                          i.fas-fa-trash
                        