.card.card-coin.mt-100
  .card-header.mb-0
    img.img-center.img-fluid.rounded-circle(src=`/img/users/${user.avatar}`, alt=`${user.name}`)
    h4.title.text-1-6.mb-0= user.name
    h6.job-title.text-default.text-company= user.company
    hr.line-primary
  .card-body  
    .table-responsive
      table#plain-table.table.tablesorter
        tbody
          tr
            td.text-left
              i.fas.fa-envelope.mr-2
              |  Email
            td.text-right= user.email
          tr
            td.text-left
              i.fas.fa-mobile.mr-2
              |  Phone
            td.text-right= user.phone
          tr
            td.text-left
              i.fas.fa-map-marker-alt.mr-2
              |  Address
            td.text-right= user.address
          tr
            td.text-left
              i.fas.fa-tag.mr-2
              |  Status
            if user.isAdmin
              td.text-right Admin
            else 
              td.text-right User